DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

PORT=
JWT_SECRET=

KC_ADMIN=
KC_ADMIN_PASSWORD=
KEYCLOAK_URL=
KEYCLOAK_EXTERNAL_URL=
KEYCLOAK_REALM=

DB_DRIVER=

SEARCH_SERVICE_URL
ES_URL=

REDIS_URL=